<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>

<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" th:field="*{firstName}" /><br/>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" th:field="*{lastName}" /><br/>

  <label for="dob">Date of Birth:</label>
  <input type="date" id="dob" th:field="*{dob}" /><br/>

  <label for="hometown">Hometown:</label>
  <input type="text" id="hometown" th:field="*{hometown}" /><br/>

  <button type="submit">Submit</button>
</form>
</body>
</html>
